<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Balance</th>
      <th>Rate(per hour)</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="<%= account_status(student) %>">
        <td><%= student.name %></td>
        <td><%= number_to_phone student.phone %></td>
        <td><%= number_to_currency student.balance %></td>
        <td><%= number_to_currency student.rate %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'View', student, :class=>'btn btn-info btn-block' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), :class=>'btn btn-warning btn-block' %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, :class=>'btn btn-primary' %>
