<h1>Students</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Balance</th>
      <th>Rate(per hour)</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="<%= account_status(student) %>" data-link="<%= student_path(student) %>">
        <td><%= student.name %></td>
        <td><%= number_to_phone student.phone %></td>
        <td><%= number_to_currency student.balance %></td>
        <td><%= number_to_currency student.rate %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'View', student, :class=>'btn btn-info btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Student', new_student_path, :class=>'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
