<br><br>

<div class="row">
  <% @students.each do |student| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header <%= account_status(student) %>"><%= student.name %></div>
        <div class="card-block">
          <p class="card-text"><%= number_to_phone student.phone %></p>
          <p class="card-text"><%= number_to_currency student.balance %></p>
          <p class="card-text"><%= number_to_currency student.rate %></p>
          <p class="card-text"><%= student.email %></p>
          <td><%= link_to 'View', student, :class=>'card-link' %></td>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Add Student', new_student_path, :class=>'btn btn-success btn-lg' %>
