<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Balance</th>
      <th>Rate(per hour)</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="<%= account_status(student) %>" data-link="<%= student_path(student) %>">
        <td data-title="Name"><%= student.name %></td>
        <td data-title="Phone Number"><%= number_to_phone student.phone %></td>
        <td data-title="Balance"><%= number_to_currency student.balance %></td>
        <td data-title="Rate"><%= number_to_currency student.rate %></td>
        <td data-title="Email"><%= student.email %></td>
        <td data-title="View"><%= link_to 'View', student, :class=>'btn btn-info btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Student', new_student_path, :class=>'btn btn-success' %>
