<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading"> <%= @student.name %></div>
      <div class="panel-body">

        <p>
          <strong>Phone:</strong>
          <%= number_to_phone @student.phone %>
        </p>

        <p>
          <strong>Parent phone:</strong>
          <%= number_to_phone @student.parent_phone %>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @student.notes %>
        </p>

        <p>
          <strong>Balance:</strong>
          <%= number_to_currency @student.balance %>
        </p>

        <p>
          <strong>Rate(per hour):</strong>
          <%= number_to_currency @student.rate %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @student.email %>
        </p>

        <p>
          <strong>Parents email:</strong>
          <%= @student.parents_email %>
        </p>

        <div class="row">
          <div class="col-sm-1">
            <%= link_to 'Edit Student', edit_student_path(@student), :class=>'btn btn-primary' %>
          </div>
          <div class="col-sm-1">
            <%= link_to 'Delete', @student, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
          </div>
          <div class="col-sm-2">
            <%= link_to 'Back To Student List', students_path, :class=>'btn btn-primary' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">Recent Lessons</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Duration(minutes)</th>
              <th>Notes</th>
            </tr>
          </thead>

          <tbody>
            <% @student.lessons.recent.each do |lesson| %>
              <tr>
                <td><%= local_time lesson.date_time %></td>
                <td><%= lesson.duration %></td>
                <td><%= lesson.notes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Add Lesson', new_student_lesson_path(@student), :class=>'btn btn-success' %>
        <%= link_to 'Full Lesson History', student_lessons_path(@student), :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">Recent Account Credits</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Amount</th>
              <th>Notes</th>
            </tr>
          </thead>

          <tbody>
            <% @student.credits.recent.each do |credit| %>
              <tr>
                <td><%= local_time credit.date_time %></td>
                <td><%= number_to_currency credit.amount %></td>
                <td><%= credit.notes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Add Credit', new_student_credit_path(@student), :class=>'btn btn-success' %>
        <%= link_to 'Full Account Credit History', student_credits_path(@student), :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>