<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading"> <%= @student.name %></div>
  <div class="panel-body">

    <p>
      <strong>Phone:</strong>
      <%= @student.phone %>
    </p>

    <p>
      <strong>Parent phone:</strong>
      <%= @student.parent_phone %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @student.notes %>
    </p>

    <p>
      <strong>Balance:</strong>
      <%= @student.balance %>
    </p>

    <p>
      <strong>Rate(per hour):</strong>
      <%= @student.rate %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @student.email %>
    </p>

    <p>
      <strong>Parents email:</strong>
      <%= @student.parents_email %>
    </p>
  </div>
</div>


<%= link_to 'Edit Student', edit_student_path(@student), :class=>'btn btn-primary' %>
<%= link_to 'Back To Student List', students_path, :class=>'btn btn-primary' %>
<%= link_to 'Add Lesson', new_student_lesson_path(@student), :class=>'btn btn-primary' %>
<%= link_to 'View Lesson History', student_lessons_path(@student), :class=>'btn btn-primary' %>
<%= link_to 'Add Credit', new_student_credit_path(@student), :class=>'btn btn-primary' %>
<%= link_to 'View Credit History', student_credits_path(@student), :class=>'btn btn-primary' %>
