<br><br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header text-white card-<%= account_status(@student) %>"><%= @student.name %></div>
      <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>
                <strong>Balance:</strong>
                <span class="tag tag-pill tag-<%= account_status(@student)%>"><%= number_to_currency @student.balance %></span>
              </p>

              <p>
                <strong>Rate(per hour):</strong>
                <%= number_to_currency @student.rate %>
              </p>

              <p>
                <strong>Lesson Day:</strong>
                <%= @student.lesson_day.humanize %>
              </p>

              <p>
                <strong>Lesson Time:</strong>
                <%= @student.lesson_time %>
              </p>
            </div>

            <div class="col-md-6">
              <p>
                <strong>Phone:</strong>
                <%= number_to_phone @student.phone %>
              </p>

              <p>
                <strong>Parent phone:</strong>
                <%= number_to_phone @student.parent_phone %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= mail_to @student.email %>
              </p>

              <p>
                <strong>Parents email:</strong>
                <%= mail_to @student.parents_email %>
              </p>
            </div>

            <div class="col-md-12">
              <p>
                <strong>Notes:</strong>
                <%= @student.notes %>
              </p>
            </div>
            
          </div>
        </div>
       
        <%= link_to 'Edit Student', edit_student_path(@student), :class=>'btn btn-primary' %>
      
        <%= link_to 'Delete', @student, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
      
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-primary text-white">Recent Lessons</div>
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Duration(minutes)</th>
            </tr>
          </thead>

          <tbody>
            <% @student.lessons.recent.each do |lesson| %>
              <tr>
                <td><%= local_time lesson.date_time %></td>
                <td><%= lesson.duration %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Add Lesson', new_student_lesson_path(@student), :class=>'btn btn-success' %>
        <%= link_to 'Full Lesson History', student_lessons_path(@student), :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-success text-white">Recent Account Credits</div>
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Amount</th>
            </tr>
          </thead>

          <tbody>
            <% @student.credits.recent.each do |credit| %>
              <tr>
                <td><%= local_time credit.date_time %></td>
                <td><%= number_to_currency credit.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Add Credit', new_student_credit_path(@student), :class=>'btn btn-success' %>
        <%= link_to 'Full Account Credit History', student_credits_path(@student), :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>