<h1>Credits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Ammount</th>
      <th>Date time</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= number_to_currency credit.ammount %></td>
        <td><%= local_time credit.date_time %></td>
        <td><%= credit.notes %></td>
        <td><%= link_to 'View', student_credit_path(@student, credit), :class=>'btn btn-info btn-block' %></td>
        <td><%= link_to 'Edit', edit_student_credit_path(@student, credit), :class=>'btn btn-warning btn-block' %></td>
        <td><%= link_to 'Delete', student_credit_path(@student, credit), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit', new_student_credit_path, :class=>'btn btn-primary' %>
