<br><br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-primary text-white"> <%= @student.name %></div>
      <div class="card-block">
        <p>
          <strong>Amount:</strong>
          <%= number_to_currency @credit.amount %>
        </p>

        <p>
          <strong>Date time:</strong>
          <%= local_time @credit.date_time %>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @credit.notes %>
        </p>

        <%= link_to 'Edit', edit_student_credit_path(@student, @credit), :class=>'btn btn-warning' %>
        <%= link_to 'Full Account History', student_credits_path, :class=>'btn btn-primary' %>
        <%= link_to 'Back To Student', @student, :class=>'btn btn-primary' %>

      </div>
    </div>
  </div>
</div>