<%= form_for [@student, lesson], :html => {:class => "form-horizontal"} do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date_time, class: "col-sm-2 control-label" %>
    <div class="col-md-8">
      <%= f.datetime_select :date_time, class: "form-control", ampm: true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :duration, class: "col-sm-2 control-label" %>
    <div class="col-md-8">
      <%= f.number_field :duration, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8">
      <%= f.submit class: 'btn btn-default btn-success' %>
    </div>
  </div>
<% end %>
