<%= form_for [@student, lesson] do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date_time, class: "form-control-label" %>
    <%= f.datetime_select :date_time, class: "form-control", ampm: true %>
  </div>
  
  <div class="form-group">
    <%= f.label 'Duration(minutes)', class: "form-control-label" %>
    <%= f.number_field :duration, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "form-control-label" %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :email_receipt %>
    <%= f.label 'Send Email Receipt', class: "form-control-label" %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default btn-success' %>
  </div>
<% end %>
