<p>
  <strong>Date time:</strong>
  <%= local_time @lesson.date_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @lesson.duration %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @lesson.notes %>
</p>

<%= link_to 'Edit', edit_student_lesson_path(@lesson) %> |
<%= link_to 'Back', student_lessons_path %>
