<p id="notice"><%= notice %></p>

<p>
  <strong>Ammount:</strong>
  <%= @transaction.ammount %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @transaction.date_time %>
</p>

<p>
  <strong>:</strong>
  <%= @transaction.notes %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @transaction.credit %>
</p>

<%= link_to 'Edit', edit_student_transaction_path(@transaction) %> |
<%= link_to 'Back', student_transactions_path %>
