<!DOCTYPE html>
<html>
  <head>
    <title>StudioClerk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">StudioClerk</a>
        </div>

        <% if user_signed_in? %>
          <div class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        <% end %>

      </div>
    </nav>

    <div class="alert alert-info" role="alert" style="<%= 'display: none;' unless notice%>"><%= notice %></div>
    <div class="alert alert-danger" role="alert" style="<%= 'display: none;' unless alert%>"><%= alert %></div>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
